{% assign enabled = section.settings.enabled %}
{% assign isGlobal = section.settings.isGlobal %}
{% assign currentPage = page.url %}
{% assign text = section.settings.text %}
{% assign link = section.settings.linkLabel %}
{% assign url = section.settings.linkUrl %}
{% assign textColor = section.settings.textColor %}
{% assign bgColor = section.settings.bgColor %}

{% if template contains 'index' or isGlobal and enabled %}
<div class="p-3">
    <h1 class="text-center" data-cy="announcement-text">
        {{ text }} 
        {% if link != null and link != '' and url != null and url != '' %}
          <a href="{{ url }}" data-cy="announcement-link">{{ link }}</a>
        {% endif %}
    </h1>
</div>
{% endif %}

{% style %}
.ag-announcement {
  background-color: {{bgColor}} !important;
}
.ag-announcement h1 {
  color: {{textColor}} !important;
}
.ag-announcement a {
  color: {{textColor}} !important;
}
{% endstyle %}

{% schema %}
{
  "name": "Announcement",
  "class": "ag-announcement",
  "settings": [
    {
      "id": "text",
      "type": "text",
      "label": "Text",
      "placeholder": "Announcement text"
    },
    {
      "id": "linkLabel",
      "type": "text",
      "label": "Link Label",
      "placeholder": "Ex. Click here!"
    },
    {
      "id": "linkUrl",
      "type": "url",
      "label": "Link URL"
    },
    {
      "id": "textColor",
      "type": "color",
      "label": "Text Colour",
      "default": "#000"
    },
    {
      "id": "bgColor",
      "type": "color",
      "label": "Background Colour",
      "default": "#fff"
    },
    {
      "id": "enabled",
      "type": "checkbox",
      "label": "Enable/Disable",
      "default": true
    },
    {
      "id": "isGlobal",
      "type": "checkbox",
      "label": "Global/Homepage only",
      "default": true
    }
  ]
}
{% endschema %}